@import 'normalize';
@import 'mq';

@import 'mixins';

@import 'atoms';

// COLLIDER
//

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include ff-arial;
  background-color: #FAFAFA;
  color: $body-copy;
}

h1 { @extend %trafalgar; }
h2 { @extend %double-pica; }
h3 { @extend %great-primer; }
h4 { @extend %pica; }

h1,
h2,
h3,
h4 {
  font-weight: normal;
  letter-spacing: -1px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

// PAGE
//

.container {
  margin: 0 auto;
  max-width: 375px;
}
.container--non-flat {
  padding-left: 8px;
  padding-right: 8px;
}

.flat {
  max-width: 100%;
}

// STATES
//

.flat {
  display: none;

  &.all {
    display: block;
  }
}

.anonymous  .anonymous  { display: block; }
.registered .registered { display: block; }

.logged-out .logged-out { display: block; }
.logged-in  .logged-in  { display: block; }

.not-following .not-following { display: block; }
.following     .following     { display: block; }

.film .film { display: block; }
.mars .mars { display: block; }
.sepp .sepp { display: block; }

.film-sepp .film-sepp { display: block; }
.film-mars .film-mars { display: block; }
.mars-sepp .mars-sepp { display: block; }

.film-mars-sepp .film-mars-sepp { display: block; }


// Common
//

.orb-header {

  ul {
    @include clearfix;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    > li {
      float: left;

      > a {
        display: block;
      }
    }
  }
}

.masthead {
  background-color: $news;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}
  .masthead--sport {
    background-color: $sport;
  }
  .masthead__logotype {
    display: block;
  }
  .masthead__sections {
    border: 1px solid rgba(255,255,255,0.25);
    color: #FFF;
    display: block;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 14px;
    position: absolute;
      top: 10px; right: 8px;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &.masthead__sections--active {
      background-color: #111;
      border-color: rgba(255,255,255,0);
      color: #FFF;
    }

    &.masthead__sections--active {
      padding-bottom: 20px;
    }

    img {
      margin-right: 8px;
    }

    .masthead--sport & {
      border-color: rgba(0,0,0,0.25);
      color: #000;

      &:hover {
        background-color: unset;
      }
    }
  }

.menu {
  background-color: #111;
  color: #FFF;
  display: none;
}
  .menu__list {
    @include nav;
    @include nav--stacked;
    margin-top: 0;
    margin-bottom: 0;

    li {
      border-bottom: 1px solid #404040;
      margin-right: 8px;
      margin-left: 8px;

      ul {
        display: none;
      }
      &.menu__item--with-children {
        background: url("../img/common/menu-item-sprite.png") no-repeat right 5px;
      }
      &.expanded {
        border-bottom: none;

        &.menu__item--with-children {
          background-position: right -28px;
        }
        ul {
          display: block;
        }
      }
    }

    a {
      color: inherit;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .menu__list--secondary {
    background-color: #222;
    margin-right: -8px;
    margin-left: -8px;

    li {
      border-bottom: 1px solid #333;
      margin-right: 24px;
      margin-left: 24px;

      &:last-child {
        border-bottom: none;
      }
    }

    a {}
  }

.menu--active {
  display: block;
}

.home-tabs {}

.orb-footer {}
  .orb-footer__services {}
  .orb-footer__main {}

.follow-cta {}
.follow-cta__icon {
  background-color: #127BB9;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  height: 24px;
  width: 24px;
}
.follow-cta__icon--plus {}
.follow-cta__icon--minus {
  background-color: #DDD;
  color: #127BB9;
  display: none;
}

$mybbc-confirmation-green: #159008;

.mybbc-cta {
  background-color: $mybbc;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: 8px 12px;
  -webkit-font-smoothing: antialiased;
}

// My News
// - Onboarding
.onboard {
  background-color: #F2F2F2;
}
  .onboard__topics {
    @include nav;
    @include nav--stacked;
    background-color: #FFF;
    margin-top: 0;
    margin-bottom: 0;

    li {

      &:last-child a {
        border-bottom: none;
        padding-bottom: 20px;
      }
    }
    a {
      border-bottom: solid 1px #ECECEC;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .onboard__cta {
    display: block;
  }
  .onboard__search {

    input {
      background-color: #DDD;
      border: none;
      color: #666;
      margin-left: 8px;
      padding: 12px;
      width: 344px;
    }
  }
    .onboard__search__inner {
      background-color: #FFF;
    }

  // Film
  .follow-cta[data-follow-topic="film"] {

    .t-film & {
      .follow-cta__icon--minus { display: inline-block; }
      .follow-cta__icon--plus  { display: none; }
    }
  }

  // Sepp Blatter
  .follow-cta[data-follow-topic="sepp"] {

    .t-sepp & {
      .follow-cta__icon--minus { display: inline-block; }
      .follow-cta__icon--plus  { display: none; }
    }
  }

  // Mars Rover
  .follow-cta[data-follow-topic="mars"] {

    .t-mars & {
      .follow-cta__icon--minus { display: inline-block; }
      .follow-cta__icon--plus  { display: none; }
    }
  }

  // -- Homepage
  .my-news-hp__logged-out,
  .my-news-hp__logged-out__ctas,
  .my-news-hp__film,
  .my-news-hp__mars,
  .my-news-hp__sepp,
  .my-news-hp__film-sepp,
  .my-news-hp__mars-sepp,
  .my-news-hp__film-mars,
  .my-news-hp__film-mars-sepp {

    a { display: block; }
  }

  .my-news-hp__logged-out {}
    .my-news-hp__logged-out__ctas {
      @include nav;
      @include nav--float;
      margin-top: 0;
      margin-bottom: 0;
    }


// BBC iD
// - Register
// - Sign In
.register,
.sign-in {}

.register__inputs,
.sign-in__inputs {
  @extend .container, .container--non-flat;
  background-color: #FFF;

  input {
    border: 1px solid #A7A7A7;
    font-size: 20px;
    height: 38px;
    padding: 0 8px;
    width: 300px;
  }
}

.register__cta,
.sign-in__cta {
  display: block;
}

// - Register-confirmation
.register-confirmation {}
  .register-confirmation__group {
    @extend .container, .container--non-flat;
    background-color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
  }
    .register-confirmation__address {
      color: $mybbc-confirmation-green;
      font-weight: bold;
      margin-top: 0;
    }
    .register-confirmation__continue-cta {
      @extend .mybbc-cta;
    }
