@import 'normalize';
@import 'mq';

@import 'mixins';

@import 'atoms';

// COLLIDER
//

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include ff-arial;
  background-color: #FAFAFA;
  color: $body-copy;
}

h1 { @extend %trafalgar; }
h2 { @extend %double-pica; }
h3 { @extend %great-primer; }
h4 { @extend %pica; }

h1,
h2,
h3,
h4 {
  font-weight: normal;
  letter-spacing: -1px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

// PAGE
//

.container {
  margin: 0 auto;
  max-width: 375px;
}
.container--non-flat {
  padding-left: 8px;
  padding-right: 8px;
}

.flat {
  display: block;
  max-width: 100%;
}

// STATES
//

.flat {
  display: none;

  &.all {
    display: block;
  }
}


// Common
//

.orb-header {}

.masthead {
  background-color: $news;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}
  .masthead__logotype {
    color: #FFF;
    display: block;
  }
  .masthead__sections {
    border: 1px solid rgba(255,255,255,0.25);
    color: #FFF;
    display: block;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 14px;
    position: absolute;
      top: 10px; right: 8px;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background-color: #222;
      border-color: rgba(255,255,255,0);
      color: #FFF;
    }

    img {
      margin-right: 8px;
    }
  }

.home-tabs {}

.orb-footer {}
  .orb-footer__services {}
  .orb-footer__main {}
