@import 'normalize';
@import 'mq';

@import 'mixins';

@import 'atoms';

// COLLIDER
//

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include ff-arial;
  color: $body-copy;
}

h1 { @extend %trafalgar; }
h2 { @extend %double-pica; }
h3 { @extend %great-primer; }
h4 { @extend %pica; }

h1,
h2,
h3,
h4 {
  font-weight: normal;
  letter-spacing: -1px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }
}

// PAGE
//

.container {
  margin: 0 auto;
  max-width: 976px;
}

.flat {
  display: block;
  max-width: 100%;
}

// Common
//

.orb-header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}
.masthead {
  background-color: #BB1919;
}
.orb-footer {}
  .orb-footer__services {
    background-color: #2F2F2F;
    border-bottom: 1px solid #949494;
  }
  .orb-footer__main {
    background-color: #4C4C4C;
  }
    .orb-footer__inner {}
