---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/articles/film/article-film_01.png" alt="" />

  <ul class="side-by-side">
    <li>
      <a href="{{ baseurl }}/topic-film.html">
        <img class="flat all" src="{{ baseurl }}/img/articles/film/article-film_02.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#" data-follow-topic="film">
        <img class="flat mars sepp mars-sepp not-following" src="{{ baseurl }}/img/articles/add.png" alt="" />
        <img class="flat film film-mars film-sepp film-mars-sepp" src="{{ baseurl }}/img/articles/added.png" alt="" />
      </a>
    </li>
  </ul>

  <img class="flat all" src="{{ baseurl }}/img/articles/film/article-film_03.png" alt="" />
</div>
