---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/articles/sepp/article-sepp_01.png" alt="" />
  <a href="#" data-follow-topic="sepp">
    <img class="flat mars film film-mars not-following" src="{{ baseurl }}/img/articles/sepp/article-sepp_02a.png" alt="" />
    <img class="flat sepp mars-sepp film-sepp film-mars-sepp" src="{{ baseurl }}/img/articles/sepp/article-sepp_02b.png" alt="" />
  </a>
  <img class="flat all" src="{{ baseurl }}/img/articles/sepp/article-sepp_03.png" alt="" />
</div>
