---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/articles/sepp/article-sepp_01.png" alt="" />

  <ul class="side-by-side">
    <li>
      <a href="{{ baseurl }}/topic-sepp.html">
        <img class="flat all" src="{{ baseurl }}/img/articles/sepp/article-sepp_02.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#" data-follow-topic="sepp">
        <img class="flat mars film film-mars not-following" src="{{ baseurl }}/img/articles/add.png" alt="" />
        <img class="flat sepp mars-sepp film-sepp film-mars-sepp" src="{{ baseurl }}/img/articles/added.png" alt="" />
      </a>
    </li>
  </ul>

  <img class="flat all" src="{{ baseurl }}/img/articles/sepp/article-sepp_03.png" alt="" />
</div>
