---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/articles/film/article-film_01.png" alt="" />
  <a href="#" data-follow-topic="film">
    <img class="flat mars sepp mars-sepp not-following" src="{{ baseurl }}/img/articles/film/article-film_02a.png" alt="" />
    <img class="flat film film-mars film-sepp film-mars-sepp" src="{{ baseurl }}/img/articles/film/article-film_02b.png" alt="" />
  </a>
  <img class="flat all" src="{{ baseurl }}/img/articles/film/article-film_03.png" alt="" />
</div>
