---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <a href="{{ baseurl }}/my-news.html"><img class="flat mars mars-sepp film-mars film-mars-sepp" src="{{ baseurl }}/img/my-news/notification.png" alt="" /></a>

  <img class="flat all" src="{{ baseurl }}/img/articles/mars/article-mars_01.png" alt="" />

  <ul class="side-by-side">
    <li>
      <a href="{{ baseurl }}/topic-mars.html">
        <img class="flat all" src="{{ baseurl }}/img/articles/mars/article-mars_02.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#" data-follow-topic="mars">
        <img class="flat film sepp film-sepp not-following" src="{{ baseurl }}/img/articles/add.png" alt="" />
        <img class="flat mars mars-sepp film-mars film-mars-sepp" src="{{ baseurl }}/img/articles/added.png" alt="" />
      </a>
    </li>
  </ul>

  <img class="flat all" src="{{ baseurl }}/img/articles/mars/article-mars_03.png" alt="" />
</div>
