---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
{% include home-tabs.html %}
<div class="container">

  <img src="{{ baseurl }}/img/my-news/homepage/my-news-title.png" alt="" class="following flat" />

  <div class="my-news-hp__logged-out">
    <img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_01.png" alt="" class="logged-out flat" />
    <ul class="my-news-hp__logged-out__ctas">
      <li><a href="#"><img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_02.png" alt="" class="logged-out flat" /></a></li>
      <li><a href="#"><img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_03.png" alt="" class="logged-out flat" /></a></li>
    </ul>
    <img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_04.png" alt="" class="logged-out flat" />
  </div>

</div>
