---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
{% include home-tabs.html %}
<div class="container">
  <img src="{{ baseurl }}/img/homepage/news-hp_031115_01.png" alt="" class="flat all" />

  <img src="{{ baseurl }}/img/my-news/homepage/my-news-title.png" alt="" class="following flat" />

  <div class="my-news-hp__logged-out">
    <img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_01.png" alt="" class="logged-out not-following flat" />
    <ul class="my-news-hp__logged-out__ctas">
      <li><a href="#"><img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_02.png" alt="" class="logged-out flat" /></a></li>
      <li><a href="#"><img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_03.png" alt="" class="logged-out flat" /></a></li>
    </ul>
    <img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_04.png" alt="" class="logged-out not-following flat" />
  </div>

  <div class="my-news-hp__logged-in">
    <img src="{{ baseurl }}/img/my-news/homepage/logged-in/logged-in_01.png" alt="" class="logged-in not-following flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/logged-in/logged-in_02.png" alt="" class="logged-in not-following flat" />
  </div>

  <!-- 1 Topic -->
  <div class="my-news-hp__film">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film/film_01.png" alt="" class="film flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film/film_02.png" alt="" class="film flat" /></a>
  </div>
  <div class="my-news-hp__mars">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/mars/mars_01.png" alt="" class="mars flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/mars/mars_02.png" alt="" class="mars flat" /></a>
  </div>
  <div class="my-news-hp__sepp">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/sepp/sepp_01.png" alt="" class="sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/sepp/sepp_02.png" alt="" class="sepp flat" /></a>
  </div>

  <!-- 2 Topics -->
  <div class="my-news-hp__film-sepp">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_01.png" alt="" class="film-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_02.png" alt="" class="film-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_03.png" alt="" class="film-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_04.png" alt="" class="film-sepp flat" /></a>
  </div>
  <div class="my-news-hp__mars-sepp">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_01.png" alt="" class="mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_02.png" alt="" class="mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_03.png" alt="" class="mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_04.png" alt="" class="mars-sepp flat" /></a>
  </div>
  <div class="my-news-hp__film-mars">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_01.png" alt="" class="film-mars flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_02.png" alt="" class="film-mars flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_03.png" alt="" class="film-mars flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_04.png" alt="" class="film-mars flat" /></a>
  </div>

  <!-- 3 Topics -->
  <div class="my-news-hp__film-mars-sepp">
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_01.png" alt="" class="film-mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_02.png" alt="" class="film-mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_03.png" alt="" class="film-mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_04.png" alt="" class="film-mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_05.png" alt="" class="film-mars-sepp flat" /></a>
    <a href="#"><img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_06.png" alt="" class="film-mars-sepp flat" /></a>
  </div>

  <img src="{{ baseurl }}/img/homepage/news-hp_031115_02.png" alt="" class="flat all" />
  <img src="{{ baseurl }}/img/homepage/news-hp_031115_03.png" alt="" class="flat all" />
</div>
