---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
{% include home-tabs.html %}

<div class="container">
  <img src="{{ baseurl }}/img/homepage/hp_01.png" alt="" class="flat all" />

  <a href="{{ baseurl }}/article-mars.html">
    <img src="{{ baseurl }}/img/homepage/hp_02.png" alt="" class="flat all" />
  </a>

  <img src="{{ baseurl }}/img/homepage/hp_03.png" alt="" class="flat all" />

  <a href="{{ baseurl }}/article-film.html">
    <img src="{{ baseurl }}/img/homepage/hp_04.png" alt="" class="flat all" />
  </a>

  <img src="{{ baseurl }}/img/homepage/hp_05.png" alt="" class="flat all" />

  <a href="{{ baseurl }}/topic-sepp.html">
    <img src="{{ baseurl }}/img/homepage/hp_06.png" alt="" class="flat all" />
  </a>

  <div class="carousel">
    <div class="carousel__content">
      <ul class="side-by-side">
        <li>
          <a href="{{ baseurl }}/article-sepp.html">
            <img class="flat all" src="{{ baseurl }}/img/topics/sepp/carousel-content_01.png" alt="" width="" height="" />
          </a>
        </li>
        <li><img class="flat all" src="{{ baseurl }}/img/topics/sepp/carousel-content_02.png" alt="" width="" height="" /></li>
      </ul>
    </div>
  </div>

  <img src="{{ baseurl }}/img/homepage/hp_07.png" alt="" class="flat all" />

  <!-- MY NEWS -->
  <img class="flat film mars sepp film-sepp mars-sepp film-mars film-mars-sepp" src="{{ baseurl }}/img/my-news/homepage/my-news-keyline.png" alt="" />
  <a href="{{ baseurl }}/my-news.html">
    <img src="{{ baseurl }}/img/my-news/homepage/my-news-title.png" alt="" class="following flat" />
  </a>

  <!-- Logged Out -->
  <!-- Custom display rules in main.scss -->
  <div class="my-news-hp__logged-out">
    <img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_01.png" alt="" class="flat" />
    <ul class="my-news-hp__logged-out__ctas side-by-side">
      <li><a href="{{ baseurl }}/sign-in.html"><img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_02.png" alt="" class="flat" /></a></li>
      <li><a href="{{ baseurl }}/register.html"><img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_03.png" alt="" class="flat" /></a></li>
    </ul>
    <img src="{{ baseurl }}/img/my-news/homepage/logged-out/logged-out_04.png" alt="" class="flat" />
  </div>

  <!-- Logged In -->
  <!-- Custom display rules in main.scss -->
  <div class="my-news-hp__logged-in">
    <img src="{{ baseurl }}/img/my-news/homepage/logged-in/logged-in_01.png" alt="" class="flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/logged-in/logged-in_02.png" alt="" class="flat" />
  </div>

  <!-- 1 Topic -->
  <div class="my-news-hp__film">
    <img src="{{ baseurl }}/img/my-news/homepage/film/film_01.png" alt="" class="film flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film/film_02.png" alt="" class="film flat" />
  </div>
  <div class="my-news-hp__mars">
    <img src="{{ baseurl }}/img/my-news/homepage/mars/mars_01.png" alt="" class="mars flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/mars/mars_02.png" alt="" class="mars flat" />
  </div>
  <div class="my-news-hp__sepp">
    <img src="{{ baseurl }}/img/my-news/homepage/sepp/sepp_01.png" alt="" class="sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/sepp/sepp_02.png" alt="" class="sepp flat" />
  </div>

  <!-- 2 Topics -->
  <div class="my-news-hp__film-sepp">
    <img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_01.png" alt="" class="film-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_02.png" alt="" class="film-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_03.png" alt="" class="film-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-sepp/film-sepp_04.png" alt="" class="film-sepp flat" />
  </div>
  <div class="my-news-hp__mars-sepp">
    <img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_01.png" alt="" class="mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_02.png" alt="" class="mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_03.png" alt="" class="mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/mars-sepp/mars-sepp_04.png" alt="" class="mars-sepp flat" />
  </div>
  <div class="my-news-hp__film-mars">
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_01.png" alt="" class="film-mars flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_02.png" alt="" class="film-mars flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_03.png" alt="" class="film-mars flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars/film-mars_04.png" alt="" class="film-mars flat" />
  </div>

  <!-- 3 Topics -->
  <div class="my-news-hp__film-mars-sepp">
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_01.png" alt="" class="film-mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_02.png" alt="" class="film-mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_03.png" alt="" class="film-mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_04.png" alt="" class="film-mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_05.png" alt="" class="film-mars-sepp flat" />
    <img src="{{ baseurl }}/img/my-news/homepage/film-mars-sepp/film-mars-sepp_06.png" alt="" class="film-mars-sepp flat" />
  </div>
  <img class="flat film mars sepp film-sepp mars-sepp film-mars film-mars-sepp" src="{{ baseurl }}/img/my-news/homepage/my-news-keyline.png" alt="" />
  <!-- /MY NEWS -->

  <img src="{{ baseurl }}/img/homepage/hp_08.png" alt="" class="flat all" />
</div>
