---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
<div class="container">

  <a href="{{ baseurl }}/my-news-edit.html"><img class="flat all" src="{{ baseurl }}/img/my-news/destination/my-news_title.png" alt="" /></a>
  <img class="flat all" src="{{ baseurl }}/img/my-news/destination/my-news_latest.png" alt="" />

  <!-- 1 Topic - Film -->
  <img class="flat film" src="{{ baseurl }}/img/my-news/destination/film/film_01.png" alt="" />

  <img class="flat all" src="{{ baseurl }}/img/my-news/destination/my-news_add-more.png" alt="" />
  <a href="{{ baseurl }}/my-news-edit.html"><img class="flat all" src="{{ baseurl }}/img/my-news/destination/my-news_edit.png" alt="" /></a>

</div>
