---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
<div class="my-news-edit-add container">

  <div class="container">
    <a href="{{ baseurl }}/my-news.html">
      <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-title.png" alt="" />
    </a>

    <a href="{{ baseurl }}/my-news-edit.html">
      <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-tabs_add.png" alt="" />
    </a>
  </div>

  <div class="container">
    <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-my-topics.png" alt="" />
  </div>
  <!-- My Topics -->
  <div class="container container--non-flat">
    <ul class="my-news-edit-add__topics">
      <li class="my-news-edit-add__topic__film">
        <a class="follow-cta" href="#" data-follow-topic="film">
          <span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Film
        </a>
      </li>
      <li class="my-news-edit-add__topic__mars">
        <a class="follow-cta" href="#" data-follow-topic="mars">
          <span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Mars Rover
        </a>
      </li>
      <li class="my-news-edit-add__topic__sepp">
        <a class="follow-cta" href="#" data-follow-topic="sepp">
          <span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Sepp Blatter
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-footer-spacer.png" alt="" />
  </div>

</div>
