---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
<div class="onboard container">

  <a class="onboard__cta" href="{{ baseurl }}/my-news.html">
    <img src="{{ baseurl }}/img/my-news/onboarding/onboarding_01.png" alt="" class="flat all" />
  </a>

  <img src="{{ baseurl }}/img/my-news/onboarding/onboarding_02.png" alt="" class="flat all" />

  <div class="onboard__search container container--non-flat">
    <div class="onboard__search__inner">
      <input type="text" name="search" id="search" placeholder="Enter a topic that interests you" />
    </div>
  </div>

  <img src="{{ baseurl }}/img/my-news/onboarding/onboarding_03.png" alt="" class="flat all" />

  <div class="container container--non-flat">
    <ul class="onboard__topics">
      <li>
        <a class="follow-cta" href="#" data-follow-topic="sepp">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Sepp Blatter
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Europe migrant crisis
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> UK immigration
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Labour leadership
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Grammy Awards
        </a>
      </li>
    </ul>
  </div>

  <img src="{{ baseurl }}/img/my-news/onboarding/onboarding_04.png" alt="" class="flat all" />

  <div class="container container--non-flat">
    <ul class="onboard__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> David Cameron
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-follow-topic="mars">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Mars Rover
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Football transfers
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-follow-topic="film">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Film
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> UK economy
        </a>
      </li>
    </ul>
  </div>

  <img src="{{ baseurl }}/img/my-news/onboarding/onboarding_05.png" alt="" class="flat all" />

  <div class="container container--non-flat">
    <ul class="onboard__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Royal family
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> NHS
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Technology
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Winter
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> UK Politics
        </a>
      </li>
    </ul>
  </div>

  <img src="{{ baseurl }}/img/my-news/onboarding/onboarding_06.png" alt="" class="flat all" />

</div>
