---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
<div class="my-news-edit container">

  <a href="{{ baseurl }}/my-news.html">
    <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-title.png" alt="" />
  </a>

  <a href="{{ baseurl }}/my-news-edit.html">
    <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-tabs_add.png" alt="" />
  </a>

  <!-- In the News now -->
  <div class="container container--non-flat">
    <ul class="my-news-edit__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Athletics doping scandal
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Europe migrant crisis
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-follow-topic="film">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&#10004;</span> Film
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Labour leadership
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Grammy Awards
        </a>
      </li>
    </ul>
  </div>

  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-hot-topics.png" alt="" />

  <!-- Hot topics on BBC News -->
  <div class="container container--non-flat">
    <ul class="my-news-edit__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> David Cameron
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Newspaper Review
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Football transfers
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> US Elections 2016
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Parliaments
        </a>
      </li>
    </ul>
  </div>

  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-recently-visited.png" alt="" />

   <!-- You've recently visited -->
   <div class="container container--non-flat">
     <ul class="my-news-edit__topics">
       <li>
         <a class="follow-cta" href="#" data-disable="">
           <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Royal family
         </a>
       </li>
       <li>
         <a class="follow-cta" href="#" data-disable="">
           <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> NHS
         </a>
       </li>
       <li>
         <a class="follow-cta" href="#" data-disable="">
           <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Technology
         </a>
       </li>
       <li>
         <a class="follow-cta" href="#" data-disable="">
           <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Winter
         </a>
       </li>
       <li>
         <a class="follow-cta" href="#" data-disable="">
           <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> UK Politics
         </a>
       </li>
     </ul>
   </div>

  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-footer-spacer.png" alt="" />

</div>
