---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
<div class="container">
  <a href="{{ baseurl }}/my-news.html">
    <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-title.png" alt="" />
  </a>

  <a href="{{ baseurl }}/my-news-edit-add.html">
    <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-tabs_my-topics.png" alt="" />
  </a>
  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-add-topics.png" alt="" />
</div>
<!-- In the News now -->

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-hot-topics.png" alt="" />
</div>
<!-- Hot topics on BBC News -->

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-recently-visited.png" alt="" />
</div>
 <!-- You've recently visited -->

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/my-news/edit/edit-footer-spacer.png" alt="" />
</div>
