---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}
<div class="onboard container">

  <a class="onboard__cta" href="{{ baseurl }}/my-news.html">
    <img src="{{ baseurl }}/img/my-bbc/onboarding_01.png" alt="" class="flat all" />
  </a>

  <img src="{{ baseurl }}/img/my-bbc/onboarding_02.png" alt="" class="flat all" />

  <div class="onboard__search container container--non-flat">
    <div class="onboard__search__inner">
      <input type="text" name="search" id="search" placeholder="Enter a topic that interests you" />
    </div>
  </div>

  <img src="{{ baseurl }}/img/my-bbc/onboarding_03.png" alt="" class="flat all" />

  <div class="container container--non-flat">
    <ul class="onboard__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-follow-topic="sepp-blatter">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Sepp Blatter
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
    </ul>
  </div>

  <img src="{{ baseurl }}/img/my-bbc/onboarding_04.png" alt="" class="flat all" />

  <div class="container container--non-flat">
    <ul class="onboard__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-follow-topic="film">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Film
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
    </ul>
  </div>

  <img src="{{ baseurl }}/img/my-bbc/onboarding_05.png" alt="" class="flat all" />

  <div class="container container--non-flat">
    <ul class="onboard__topics">
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Royal family
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Entertainment
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Bangkok bomb
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-disable="">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span> Topic
        </a>
      </li>
      <li>
        <a class="follow-cta" href="#" data-follow-topic="mars-rover">
          <span class="follow-cta__icon follow-cta__icon--plus">&plus;</span><span class="follow-cta__icon follow-cta__icon--minus">&minus;</span> Mars Rover
        </a>
      </li>
    </ul>
  </div>

  <img src="{{ baseurl }}/img/my-bbc/onboarding_06.png" alt="" class="flat all" />

</div>
