---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <a href="#" data-follow-topic="mars">
    <img class="flat film sepp film-sepp not-following" src="{{ baseurl }}/img/topics/mars/topic-mars_01a.png" alt="" />
  </a>
  <a href="#" data-follow-topic="mars">
    <img class="flat mars mars-sepp film-mars film-mars-sepp" src="{{ baseurl }}/img/topics/mars/topic-mars_01b.png" alt="" />
  </a>
</div>

<div class="container">
  <div class="carousel">
    <div class="carousel__content">
      <img src="{{ baseurl }}/img/topics/mars/carousel-content.png" alt="" width="" height="" />
    </div>
  </div>
</div>

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/topics/mars/topic-mars_02.png" alt="" />
</div>
