---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <a href="#" data-follow-topic="sepp">
    <img class="flat mars film film-mars not-following" src="{{ baseurl }}/img/topics/sepp/topic-sepp_01a.png" alt="" />
    <img class="flat sepp mars-sepp film-sepp film-mars-sepp" src="{{ baseurl }}/img/topics/sepp/topic-sepp_01b.png" alt="" />
  </a>
  <div class="carousel">
    <div class="carousel__content">
      <ul class="flat-by-side">
        <li>
          <a href="{{ baseurl }}/article-sepp.html">
            <img class="flat all" src="{{ baseurl }}/img/topics/sepp/carousel-content_01.png" alt="" width="" height="" />
          </a>
        </li>
        <li><img class="flat all" src="{{ baseurl }}/img/topics/sepp/carousel-content_02.png" alt="" width="" height="" /></li>
      </ul>
    </div>
  </div>
  <img class="flat all" src="{{ baseurl }}/img/topics/sepp/topic-sepp_02.png" alt="" />
</div>
