---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <a href="{{ baseurl }}/my-news.html"><img class="flat film film-mars film-sepp film-mars-sepp" src="{{ baseurl }}/img/my-news/notification.png" alt="" /></a>

  <a href="#" data-follow-topic="film">
    <img class="flat mars sepp mars-sepp not-following" src="{{ baseurl }}/img/topics/film/topic-film_01a.png" alt="" />
    <img class="flat film film-mars film-sepp film-mars-sepp" src="{{ baseurl }}/img/topics/film/topic-film_01b.png" alt="" />
  </a>
  <div class="carousel">
    <div class="carousel__content">
      <img src="{{ baseurl }}/img/topics/film/carousel-content.png" alt="" width="" height="" />
    </div>
  </div>
  <img class="flat all" src="{{ baseurl }}/img/topics/film/topic-film_02.png" alt="" />
</div>
