---
layout: default
---
{% include baseurl.html %}
{% include masthead.html %}

<div class="container">
  <a href="#" data-follow-topic="sepp">
    <img class="flat mars film film-mars not-following" src="{{ baseurl }}/img/topics/sepp/topic-sepp_01a.png" alt="" />
  </a>
  <a href="#" data-follow-topic="sepp">
    <img class="flat sepp mars-sepp film-sepp film-mars-sepp" src="{{ baseurl }}/img/topics/sepp/topic-sepp_01b.png" alt="" />
  </a>
</div>

<div class="container">
  <div class="carousel">
    <div class="carousel__content">
      <img src="{{ baseurl }}/img/topics/sepp/carousel-content.png" alt="" width="" height="" />
    </div>
  </div>
</div>

<div class="container">
  <img class="flat all" src="{{ baseurl }}/img/topics/sepp/topic-sepp_02.png" alt="" />
</div>
