<div class="login-to-follow" id="js-login-to-follow">
  <div class="login-to-follow__inner">
    <p class="login-to-follow__title">Sign in to add this topic <span>&times;</span></p>
    <p class="login-to-follow__desc">Keep up with this topic by signing in and adding it to My News.</p>

    <ul class="login-to-follow__ctas">
      <li><a class="login-to-follow__sign-in" href="{{ baseurl }}/sign-in.html">Sign In</a></li>
      <li><a class="login-to-follow__register" href="{{ baseurl }}/register.html">or <span>Register</span></a></li>
    </ul>
  </div>
</div>
