<div class="menu container" id="js-menu">
  <ul class="menu__list">
    <li><a href="#" data-disable=""><span>Home</span></a></li>
    <li><a href="#" data-disable=""><span>Your local news</span></a href="#" data-disable=""></li>
    <li class="menu__item menu__item--with-children">
      <a href="#" data-disable=""><span>UK</span></a>
      <ul class="menu__list menu__list--secondary">
        <li><a href="#" data-disable=""><span>UK Home</span></a></li>
        <li><a href="#" data-disable=""><span>England</span></a></li>
        <li><a href="#" data-disable=""><span>N. Ireland</span></a></li>
        <li><a href="#" data-disable=""><span>Scotland</span></a></li>
        <li><a href="#" data-disable=""><span>Alba</span></a></li>
        <li><a href="#" data-disable=""><span>Wales</span></a></li>
        <li><a href="#" data-disable=""><span>Cymru</span></a></li>
      </ul>
    </li>
    <li class="menu__item menu__item--with-children">
      <a href="#" data-disable=""><span>World</span></a>
      <ul class="menu__list menu__list--secondary">
        <li><a href="#" data-disable=""><span>World Home</span></a></li>
        <li><a href="#" data-disable=""><span>Africa</span></a></li>
        <li><a href="#" data-disable=""><span>Asia</span></a></li>
        <li><a href="#" data-disable=""><span>Australia</span></a></li>
        <li><a href="#" data-disable=""><span>Europe</span></a></li>
        <li><a href="#" data-disable=""><span>Latin America</span></a></li>
        <li><a href="#" data-disable=""><span>Middle East</span></a></li>
        <li><a href="#" data-disable=""><span>US &amp; Canada</span></a></li>
      </ul>
    </li>
    <li class="menu__item menu__item--with-children">
      <a href="#" data-disable=""><span>Business</span></a>
      <ul class="menu__list menu__list--secondary">
        <li><a href="#" data-disable=""><span>Business Home</span></a></li>
        <li><a href="#" data-disable=""><span>Your Money</span></a></li>
        <li><a href="#" data-disable=""><span>Market Data</span></a></li>
        <li><a href="#" data-disable=""><span>Markets</span></a></li>
        <li><a href="#" data-disable=""><span>Companies</span></a></li>
        <li><a href="#" data-disable=""><span>Economy</span></a></li>
      </ul>
    </li>
    <li class="menu__item menu__item--with-children">
      <a href="#" data-disable=""><span>Politics</span></a>
      <ul class="menu__list menu__list--secondary">
        <li><a href="#" data-disable=""><span>Politics Home</span></a></li>
        <li><a href="#" data-disable=""><span>Parliaments</span></a></li>
        <li><a href="#" data-disable=""><span>Election 2015</span></a></li>
        <li><a href="#" data-disable=""><span>Vote 2014</span></a></li>
      </ul>
    </li>
    <li><a href="#" data-disable=""><span>Tech</span></a></li>
    <li><a href="#" data-disable=""><span>Science</span></a></li>
    <li><a href="#" data-disable=""><span>Health</span></a></li>
    <li class="menu__item menu__item--with-children">
      <a href="#" data-disable=""><span>Education</span></a>
      <ul class="menu__list menu__list--secondary">
        <li><a href="#" data-disable=""><span>Education Home</span></a></li>
        <li><a href="#" data-disable=""><span>School Report</span></a></li>
      </ul>
    </li>
    <li><a href="#" data-disable=""><span>Entertainment &amp; Arts</span></a></li>
    <li><a href="#" data-disable=""><span>Video &amp; Audio</span></a></li>
    <li><a href="#" data-disable=""><span>Magazine</span></a></li>
    <li><a href="#" data-disable=""><span>In Pictures</span></a></li>
    <li><a href="#" data-disable=""><span>Also in the News</span></a></li>
    <li><a href="#" data-disable=""><span>Special Reports</span></a></li>
    <li><a href="#" data-disable=""><span>Explainers</span></a></li>
    <li><a href="#" data-disable=""><span>The Reporters</span></a></li>
    <li><a href="#" data-disable=""><span>Have Your Say</span></a></li>
    <li><a href="#" data-disable=""><span>Disability</span></a></li>
  </ul>
</div>
