<div class="orb-header container">
  <ul>
    <li>
      <img class="flat logged-out" src="{{ baseurl }}/img/common/orb-header_01.png" alt="" />
      <img class="flat logged-in" src="{{ baseurl }}/img/common/orb-header_01--logged-in.png" alt="" />
    </li>
    <li>
      <a href="{{ baseurl }}"><img class="flat logged-out logged-in" src="{{ baseurl }}/img/common/orb-header_02.png" alt="" /></a>
    </li>
    <li>
      <a href="{{ baseurl }}/sport-index.html"><img class="flat logged-out logged-in" src="{{ baseurl }}/img/common/orb-header_03.png" alt="" /></a>
    </li>
    <li>
      <img class="flat logged-out logged-in" src="{{ baseurl }}/img/common/orb-header_04.png" alt="" />
    </li>
  </ul>
</div>
