---
layout: compress
---
{% include baseurl.html %}
<!DOCTYPE HTML>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>BBC &mdash; News</title>
    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ baseurl }}/css/main.css" />
  </head>
  <body>
    {{ content }}

    <script src="{{ baseurl }}/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="{{ baseurl }}/js/main.js"></script>
  </body>
</html>
